.vscode
cache
config/config.json
config/games_v2.json
config/oauth.bin
config/streamers.json
dist
logs
node_modules
payloads
vendor
docker/vods
docker/saved_clips
docker/saved_vods
public/vods
public/saved_clips
public/saved_vods