.vscode
cache
build
config/config.json
config/games_v2.json
config/oauth.bin
config/streamers.json
dist
logs
node_modules
payloads
vendor
docker/vods
docker/saved_clips
docker/saved_vods
public/vods
public/saved_clips
public/saved_vods
client-vue/node_modules
client-vue/dist
client-vue/.env
client-vue/.env.production