.env
.idea/
.sass-cache/
build/
cache/
client-vue/.env.staging
config.json
config/channels.json
config/config.json.bak
config/cron.txt
config/favourite_games.json
config/games_v2.json
config/games.json
config/oauth.bin
config/streamers.json
config/tcd_settings.json
logs/
node_modules/
payloads/*.json
phpDocumentor.phar
public/saved_vods/
public/vods/
storage/saved_vods/
storage/saved_clips/
storage/vods/
style.css.map
vendor/
data/storage
data/cache
data/config
data/payloads