@keyframes recording {
    0% {
        background-color: #ca1515;
    }
    50% {
        background-color: #7c1717;
    }
    100% {
        background-color: #ca1515;
    }
}

@keyframes live {
    0% {
        color: #ca1515;
    }
    50% {
        color: #7c1717;
    }
    100% {
        color: #ca1515;
    }
}

@keyframes speen {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes zoom {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 105%;
    }
    100% {
        background-size: 100%;
    }
}
