.dialog {
    margin: 15px;
    font-weight: 700;
    color: #fff;

    .dialog-title {
        padding: 5px 10px;
        font-size: 120%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .dialog-content {
        padding: 10px;
    }

    &.success {
        background-color: #43b543;
    }

    &.error {
        background-color: #8f2a2a;
    }
}

.tag {
    color: #fff;
    padding: 0 2px;
    border-radius: 2px;
    background-color: #5a6fe6;

    &:tag-error {
        background-color: #8a2020;
    }
}

.big-error {
    padding: 10px;
    background-color: #f00;
    font-weight: 700;
    color: #fff;

    &:empty {
        display: none;
    }
}

.boxart-carousel {
    display: flex;
    flex-direction: row;
    width: max-content;

    .boxart-item {
        width: $boxart-width;

        // height: $boxart-height;
        img {
            width: $boxart-width;
            height: $boxart-height;
            border: 2px solid #000;
        }

        font-size: 0.5em;
        color: #fff;
        // word-break: break-all;
        overflow: hidden;

        &:not(:last-child) {
            margin-right: 2px;
        }

        &.is-favourite {
            img {
                border-color: #25b338;
            }
        }

        .boxart-name {
            font-size: 9px;
            color: rgba(255, 255, 255, 0.8);
        }
    }

    &.is-small {
        width: auto;
        flex-wrap: wrap;

        .boxart-item {
            width: $boxart-width * 0.6;

            // height: $boxart-height * 0.6;
            img {
                width: $boxart-width * 0.6;
                height: $boxart-height * 0.6;
            }
        }
    }
}

.boxart {
    vertical-align: -4px;
    width: 14px;
    height: 19px;
}

.boxart-big {
    height: 100px;
}

.log_viewer {
    font-family: Consolas, monospace;
    font-size: 80%;
    color: #333;
    max-height: 600px;
    // max-width: 600px;
    overflow-x: scroll;
    overflow-y: scroll;

    table {
        font-family: Consolas, monospace;
        font-size: inherit;
        color: #333;

        td {
            padding: 0 10px 0 0;
            margin: 0;
            vertical-align: top;

            &:nth-child(1) {
                width: 160px;
            }

            // date column
        }

        tr {
            padding: 0;
            margin: 0;
        }
    }

    .log-line {
        color: #333;

        &.log-line-success {
            color: #3ea335;
            font-weight: 700;
        }

        &.log-line-fatal {
            color: #ff0000;
            font-weight: 700;
            animation: 0.5s live infinite ease-in-out;
        }

        &.log-line-warning {
            color: #ff7300;
            font-weight: 700;
        }

        &.log-line-error {
            color: #f00;
            font-weight: 700;
        }

        &.log-line-debug {
            color: #9c9c9c;
            font-weight: 200;
        }

        &.log-line-interactive {
            cursor: pointer;
        }
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: red;
        }
    }
}

.statustab {
    position: fixed;
    bottom: 0px;
    background: var(--statustab-background);
    color: var(--statustab-color);
    border-radius: 3px 3px 0 0;
    border: 1px solid var(--statustab-border);
    border-bottom: none;

    &.statustab-update {
        right: 10px;
        padding: 4px 8px;
        font-size: 14px;
        transition: ease-in-out 0.5s background-color;
        z-index: 3;

        &.active {
            background-color: #d75252;
            color: #fff;
            animation: 1s ease-in-out infinite recording;
            border-color: #222;
        }

        &.disconnected {
            color: #fff;
            border-color: #222;
            background-color: #9e1313;
        }
    }

    &.statustab-jobs {
        position: fixed;
        right: 250px;
        padding: 3px;
        font-size: 10px;
        z-index: 3;

        table {
            font-size: 10px;
            color: inherit;

            td {
                padding: 0px 2px;
            }
        }
    }

}

.card {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius);
    overflow: hidden;

    .card-title {
        background: var(--card-title-background-color);
        color: #fff;
        padding: 4px 6px;

        h2 {
            margin: 0;
            padding: 0;
            font-size: 1.2em;
        }
    }

    .card-content {
        padding: 8px;
        background: var(--card-background-color);
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.fieldset {
    border: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/*
.fieldset {
	display: none;
	&.selected {
		display: block;
	}
}
.fieldset-tabs {
	padding: 0 5px;
	button {
		background-color: #eee;
		padding: 2px 6px;
		border-radius: 4px 4px 0 0;
		border: 1px solid #333;
		border-bottom: none;
	}
}
*/

details.settings-details {
    summary {
        font-size: 130%;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            color: #444;
        }
    }

    div.field:first-of-type {
        padding-top: 10px;
    }

    div.field:last-of-type {
        padding-bottom: 10px;
    }
}

.form-status {
    display: inline-block;
    padding-left: 5px;
    color: #777;

    &.is-error {
        color: #f00;
        font-weight: bold;
    }

    &.is-success {
        color: #009f00;
        font-style: italic;
    }
}

.debug-mode {
    // border:5px solid #0f0;
    // background-color: #f00;
    // font-size: 70px;
    display: inline-block;
    animation: 3s ayylien linear infinite;
    perspective: 100px;
    // transform: perspective(100px) rotateY(80deg);
    // perspective-origin: center;
    transform-style: preserve-3d;
}

.top-tabs {
    background: #111;
    font-size: 1.1em;

    /*
    position: fixed;
    width: 100%;
    margin-bottom: 40px;
    */
    a {
        padding: 7px 14px;
        display: inline-block;
        color: #ccc;
        text-decoration: none;

        &.router-link-active {
            background: #598a1d;
            color: #fff;
            font-weight: 700;
        }

        &:hover {
            color: #fff;
        }

        .icon {
            padding-right: 0.3em;
            font-size: 0.9em;
        }
    }
}

.notification {
    padding: 1em;
    background: #333;
    color: #fff;
    border-radius: 1em;
    margin-bottom: 1em;
    &.is-error {
        background: #d11515;
        color: #fff;
    }
}

.details {
    summary {
        font-size: 1.1em;
        font-weight: 700;
        cursor: pointer;
    }
}

.youtube-auth {
    padding: 1em;
    border-radius: 1em;
    background-color: rgba(55, 99, 194, 0.2);
    h3 {
        margin: 0 0 0.5em 0;
        padding: 0;
        font-size: 1.1em;
        font-weight: 700;
    }
    .youtube-status {
        margin-top: 0.5em;
    }
    .youtube-help {
        margin-bottom: 0.5em;
    }
}