.input {
    background-color: var(--input-background-color);

    font-family: inherit;
    font-size: 1.1em;

    padding: 0.5em 0.8em;
    margin: 0.2em 0;
    border-radius: 0.4em;

    color: var(--input-color);
    border: 1px solid var(--input-border-color);

    &:invalid {
        border-color: #c10b0b;

        &:hover {
            border-color: #cc0303;
        }
    }

    &:hover {
        border-color: #aaa;
    }

    &:focus {
        // box-shadow: 0 0 3px inset #eee;
        border-width: 2px;
        color: var(--input-focus-color);
        border-color: var(--input-focus-border-color);
        background-color: var(--input-focus-background-color);
        padding: calc(0.5em - 1px) calc(0.8em - 1px);
        outline: none;
    }

    &[type="text"],
    &[type="number"],
    &[type="password"] {
        box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.08);
        max-width: 100%;
        width: 100%;
        // font-family: 'Source Code Pro', 'Consolas', 'Lucida Console', monospace;
    }

    &[type=range] {
        -webkit-appearance: none;
        width: 100%;
        height: 10px;
        border-radius: 3px;
        background-color: #f5f5f5;
        outline: none;
        box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.08);

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
            box-shadow: 0 0 0 1px #ccc;
        }

        &::-moz-range-thumb {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
            box-shadow: 0 0 0 1px #ccc;
        }
    }

    &.textarea {
        font-family: inherit;
        width: 100%;
    }

    &:read-only, &[readonly], &[disabled] {
        background-color: var(--input-readonly-background-color);
        box-shadow: none;
        &:hover {
            border-color: var(--input-border-color);
        }
    }

    &.is-fullwidth {
        width: 100%;
    }

    /*
	&.required {
		border-color: #f00;
	}
	*/
}

.select {
    select {
        background-color: var(--input-background-color);

        min-width: 200px;
        width: 100%;

        font-family: var(--body-font);
        font-size: 1.1em;

        padding: 0.6em 0.6em;
        margin: 0.2em 0;
        border-radius: 0.4em;

        color: var(--input-color);
        border: 1px solid var(--input-border-color);

        box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.08);

        &:invalid {
            border-color: #f00;

            &:hover {
                border-color: #cc0303;
            }
        }

        &:hover {
            border-color: #aaa;
        }

        &:focus {
            color: var(--input-focus-color);
            // box-shadow: 0 0 3px inset #eee;
            border-width: 2px;
            border-color: var(--input-focus-border-color);
            background-color: var(--input-focus-background-color);
            padding: calc(0.6em - 1px);
            outline: none;
        }

        option {
            background-color: var(--input-background-color);
            color: var(--input-color);
            font-family: var(--body-font);
            &:disabled {
                color: var(--input-disabled-color);
            }
        }

        &:disabled {
            color: var(--input-disabled-color);
            background-color: var(--input-disabled-background-color);
            border-color: var(--input-disabled-border-color);
            box-shadow: none;
        }

    }
}

.required {
    color: #f00;
    font-weight: 700;
}

.button-bar {
    display: flex;
    /*
	.button {
		flex-grow: 1;
	}
	*/
}

.favourite-button {
    color: #999;

    &:hover {
        color: #2f6d68;
    }
}

label.checkbox {
    input {
        accent-color: var(--accent-color);
        background-color: #f00;
    }
}