.input {
    background-color: #fff;

    font-family: inherit;
    font-size: 14px;

    padding: 6px 10px;
    margin: 2px 0px;
    border-radius: 3px;

    color: #333;
    border: 1px solid #ccc;

    &:hover {
        border-color: #aaa;
    }

    &:focus {
        color: #000;
        // box-shadow: 0 0 3px inset #eee;
        border-width: 2px;
        border-color: #555;
        background-color: #eff6ff;
        padding: 5px 9px;
        outline: none;
    }

    &[type="text"],
    &[type="number"],
    &[type="password"] {
        box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.08);
        max-width: 100%;
        width: 100%;
        // font-family: 'Source Code Pro', 'Consolas', 'Lucida Console', monospace;
    }

    /*
	&.required {
		border-color: #f00;
	}
	*/
}

select.input {
    min-width: 200px;
}

/*
.control {
	padding: 1px 0;
	// border-bottom: 1px solid #fefefe;
}
*/

.field-group {
    &:not(:last-child) {
        margin-bottom: 5px;
    }
    padding: 10px;
    background-color: #f5f5f5;
}

.field {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
    label {
        p {
            margin: 0;
            padding: 0 0 5px 0;
            font-weight: 700;
        }
    }
    &.is-horizontal {
        display: flex;
        .label {
            flex-grow: 1;
            flex-basis: 0;
            flex-shrink: 0;
            text-align: right;
            padding-right: 1em;
            align-self: center;
        }
        .control {
            flex-grow: 4;
            flex-basis: 0;
            flex-shrink: 1;
        }
    }
}

.label {
    color: #363636;
    display: block;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.2em;
}

.required {
    color: #f00;
    font-weight: 700;
}

.button-bar {
    display: flex;
    /*
	.button {
		flex-grow: 1;
	}
	*/
}

.button {
    $base-bg: #c4e0f3;

    font-family: inherit;
    font-size: 14px;

    text-decoration: none;

    display: inline-block;
    padding: 5px 14px;

    text-align: center;
    min-width: 80px;

    border-radius: 2px;

    // box-shadow: 0 2px 3px rgba(0, 0, 0, .2), inset 0 -3px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.05);

    border: 1px solid darken($base-bg, 5%);
    background-color: $base-bg;
    color: #333;

    margin: 1px;

    // transition: 0.05s all ease-in-out;

    // text-shadow: 0 1px 2px rgba(0,0,0,.2);

    &:hover {
        cursor: pointer;
        color: #111;
        background-color: darken($base-bg, 5%);
        border-color: darken($base-bg, 10%);
        // transform: scale(1.02);
    }

    &:active {
        background-color: #aaa;
        transform: translate(1px, 1px);
    }

    &.is-small {
        min-width: 70px;
        font-size: 0.9em;
        padding: 3px 6px;
    }

    &.is-blue {
        $base-bg: #5098f7;
        background-color: $base-bg;
        border-color: darken($base-bg, 5%);
        color: #fff;
        &:hover {
            background-color: darken($base-bg, 5%);
            border-color: darken($base-bg, 10%);
        }
    }

    &.is-confirm {
        $base-bg: #3db92c;
        background-color: $base-bg;
        border-color: darken($base-bg, 5%);
        color: #fff;
        &:hover {
            background-color: darken($base-bg, 5%);
            border-color: darken($base-bg, 10%);
        }
        &:active {
            background-color: darken($base-bg, 10%);
            border-color: darken($base-bg, 15%);
        }
    }

    &.is-danger {
        $base-bg: #b35531;
        background-color: $base-bg;
        border-color: darken($base-bg, 5%);
        color: #fff;
        &:hover {
            background-color: darken($base-bg, 5%);
            border-color: darken($base-bg, 10%);
        }
    }

    .icon {
        margin-right: 0.2em;
        margin-left: -0.5em;
    }
}

.icon-button {
    border: none;
    background: none;
    cursor: pointer;
    // color: #999;
    color: #fff;
    padding: 0;
    margin: 0;
    &:hover {
        color: #ccc;
        // color: #2f6d68;
    }
}

.favourite-button {
    color: #999;
    &:hover {
        color: #2f6d68;
    }
}

.input-help {
    font-size: 85%;
    color: #777;
    font-style: italic;
    margin: 0;
    padding: 0.2em 0 0 0;
}
