.side-menu {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    width: $sidemenu-width;

    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    // overflow-y: auto;

    &.collapsed {
        width: 150px;

        .streamer-jumpto {
            display: none;
        }

        .top-menu-item.title span.title {
            display: none;
        }

        .menu-bottom {
            flex-wrap: wrap;
        }
    }

    &.side {
        // position: static;
        left: 0;
        top: 0;
        bottom: 0;
        right: auto;
        height: 100vh;
        width: 300px;
        display: block;
    }

    .menu-middle {
        overflow-y: scroll;
        flex-grow: 1;
        scrollbar-color: #4a4a4a #222;

        &::-webkit-scrollbar {
            height: 12px;
            width: 12px;
            background: #222;
        }

        &::-webkit-scrollbar-thumb {
            background: #4a4a4a;
            -webkit-border-radius: 1ex;
            -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
        }

        &::-webkit-scrollbar-corner {
            background: #4a4a4a;
        }
    }

    .menu-bottom {
        display: flex;
        text-align: center;
        height: 50px;

        .top-menu-item {
            height: 50px;
            flex-grow: 1;

            a {
                width: 100%;
            }
        }
    }
}

// TODO: make this more dynamic
.top-menu-item {
    font-size: 120%;

    // padding: 5px 8px;

    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;

    &.title {
        font-weight: 700;

        a {
            color: #fff;
            padding: 13px 8px;
        }

        .favicon {
            transition: ease-in-out 0.5s transform;
        }

        // .favicon { animation: 1s speeen linear; }
        &:hover .favicon {
            animation: 1s speen linear infinite;
        }

        span.dev {
            color: #ff0;
        }
    }

    a {
        color: #777;
        text-decoration: none;
        display: inline-block;
        padding: 5px 8px;

        &:hover {
            color: #fff;
            background: #111;
            .avatar {
                transform: scale(110%);
            }
        }
    }

    &.divider {
        flex-grow: 1;
    }

    &.right {
        // flex-grow: 1;
        // text-align: right;
        a {
            padding: 14px 8px;
        }
    }

    .small {
        color: #555;
        font-size: 80%;
    }

    &.icon {
        &.is-live:not(.is-active) a {
            color: #ec2f2f;
            // animation: 0.5s vibrate linear infinite;
        }

        a {
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    &.streamer {
        /*
		a {
			padding: 5px 8px 12px 8px;
		}
		*/

        flex-direction: row;

        &.no-capture {
            .username {
                text-decoration: line-through;
            }
        }

        .avatar {
            // height: 100%;
            display: inline-block;
            height: 20px;
            vertical-align: -4px;

            margin-right: 5px;

            overflow: hidden;
            border-radius: 100%;

            transition: ease-in-out 0.2s transform;

            img {
                opacity: 0.7;
                height: 100%;
            }
        }

        .vodcount {
            display: inline-block;
            margin-left: 5px;
            font-size: 90%;
            color: #666;
        }

        .subtitle {
            font-family: "Roboto Condensed", "Roboto", "Arial";
            font-weight: 500;
            display: block;
            font-size: 80%;
            line-height: 1em;
            color: #444;
            padding-bottom: 5px;

            &:empty,
            &:-moz-only-whitespace {
                // TODO: multiplatform
                display: none;
            }
        }

        .streamer-link {
            flex-grow: 1;
        }

        .streamer-expand-container {
            display: flex;

            // center contents
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .streamer-expand-main {
            color: #8096be;
            display: flex;
            flex-grow: 1;

            background-color: transparent;
            border: none;

            // center contents
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0.2em 0.5em 0em 0.5em;
            line-height: 0.3em;

            cursor: pointer;

            .amount {
                font-size: 80%;
            }

            &:hover {
                background-color: #0c1e35;
                color: #fff;
            }

            transition: 0.1s ease-in-out;

            border-radius: 3px;

            margin: 2px;
        }
    }

    .streamer-expand-hide {
        height: 3px;
        // #000 to #09182c
        background-image: linear-gradient(to bottom, darken(#09182c, 5%), #09182c);
        // border-top: 1px dotted #2d5589;
    }

    &.streamer.is-live {
        a {
            background-color: #2b0e0e;
        }

        .username {
            color: #f00;
            font-weight: 700;
        }

        &.is-animated a {
            animation: live ease-in-out 1s infinite;
        }

        .subtitle,
        .vodcount {
            color: #b30000;
        }

        .streamer-expand-container {
            background-color: #2b0e0e;
            .streamer-expand-main {
                color: #f34d4d;
                &:hover {
                    background-color: #4d0b0b;
                }
            }
        }
    }

    &.is-active {
        a {
            color: #fff;
        }
    }
}

.favicon {
    width: 24px;
    height: 24px;
    vertical-align: -5px;
    margin: 0 8px 0 3px;
}

a.linkback {
    font-weight: 700;
    color: #e0e00d;

    /* forgive me padre for i have sinned */
    &:hover {
        color: #fff;
    }
}

.streamer-jumpto {
    .icon {
        margin-right: 0.2em;
    }

    ul {
        list-style: none;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            a {
                font-family: "Roboto Condensed";
                $base-bg: #09182c;
                background-color: $base-bg;
                // border-color: darken($base-bg, 5%);
                // color: #ddd;
                color: rgba(255, 255, 255, 0.5);
                display: block;
                text-decoration: none;
                padding: 3px 5px;
                font-size: 0.8em;
                transition: 0.1s border-width ease-in-out;

                &:hover {
                    color: #fff;
                    background-color: lighten($base-bg, 5%);
                }

                &.is-favourite {
                    background-color: $favourite-base;

                    &:hover {
                        background-color: lighten($favourite-base, 5%);
                    }

                    .tooltip {
                        background-color: rgba(darken($favourite-base, 15%), 0.98);
                    }
                }

                &.is-live {
                    background-color: $recording-base;
                    color: #eee;

                    // text-shadow: 1px 1px 2px darken($recording-base, 10%);
                    &.is-animated {
                        animation: 1s ease-in-out infinite recording; // TODO: keep?
                    }

                    &:hover {
                        background-color: lighten($recording-base, 5%);
                    }

                    .tooltip {
                        background-color: rgba($recording-base, 0.95);
                    }
                }

                &.is-converting {
                    background-color: $converting-base;

                    &:hover {
                        background-color: lighten($converting-base, 5%);
                    }

                    .tooltip {
                        background-color: rgba($converting-base, 0.95);
                    }
                }

                &.is-waiting {
                    background-color: $waiting-base;

                    &:hover {
                        background-color: lighten($waiting-base, 5%);
                    }

                    .tooltip {
                        background-color: rgba($waiting-base, 0.95);
                    }
                }

                &.is-active {
                    &.is-favourite {
                        border-color: lighten($favourite-base, 60%);
                    }

                    &.is-live {
                        border-color: lighten($recording-base, 60%);
                    }

                    &.is-converting {
                        border-color: lighten($converting-base, 60%);
                    }

                    border-left: 2px solid lighten($base-bg, 60%);
                    color: #fff;
                }

                .flags {
                    float: right;

                    .icon {
                        margin: 0;
                        padding: 0;
                    }
                }

                .tooltip {
                    position: absolute;
                    left: $sidemenu-width + 10px;

                    &.is-static {
                        position: fixed;
                        top: 10px;
                    }

                    background-color: rgba(0, 0, 0, 0.98);
                    border-radius: 3px;
                    padding: 8px;
                    display: none;
                    word-wrap: none;
                    width: max-content;

                    .boxart-carousel {
                        margin: 5px 0;
                    }

                    .stream-channel {
                        font-size: 1.1em;
                        font-weight: 700;
                    }

                    .stream-name {
                        font-size: 0.9em;
                        color: rgba(255, 255, 255, 0.6);
                    }

                    /*
                    .stream-title {
                        
                    }
                    */
                }

                &:hover > .tooltip {
                    display: block;
                }
            }
        }
    }
}
