// desktop
@media (min-width: 768px) {
  .is-mobile {
    display: none !important;
  }
}

// mobile
@media screen and (orientation: portrait) {

    .is-mobile {
        display: unset;
    }

    .is-desktop {
        display: none !important;
    }

    body {
        font-size: 1rem;
        padding-bottom: 60px;
    }

    .container {
        display: block;
        width: 100%;
        margin-bottom: 6rem;
    }

    .content {
        margin: 0;
    }

    .section {
        margin: 0.5em 0;
    }

    .splitter {
        flex-direction: column;
    }

    .top-menu-item {
        display: block;
        align-items: baseline;
        justify-content: baseline;

        a {
            display: block;
        }

    }

    .streamer-title {
        font-size: 0.9em;

        .streamer-title-tools {
            display: flex;
            padding: 1em 0 0.5em 0;
            a, button {
                flex-grow: 1;
            }
            .icon {
                font-size: 1.5em;
            }
        }

        .streamer-title-subtitle {
            font-family: 'Roboto Condensed';
        }
    }

    .info-columns {
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 0.9em;

        .info-column {
            padding-right: 0px;
            padding-bottom: 10px;

            &:last-child {
                padding-bottom: 0px;
            }
        }
    }

    .game-list {
        .game-name {
            display: none;
        }

        .boxart {
            width: $boxart-width * 0.2;
            height: $boxart-height * 0.2;
        }

        /*
		td[data-contents="started_at"] {
			display: none;
		}
		*/
    }

    /*
	.boxart-big {
		max-height: 70px;
	}
	*/
    .boxart-carousel,
    .boxart-carousel.is-small {
        .boxart-item {
            width: $boxart-width * 0.4;
            height: $boxart-height * 0.4;

            img {
                width: $boxart-width * 0.4;
                height: $boxart-height * 0.4;
            }
        }
    }

    .button-bar {
        display: flex;
        flex-wrap: wrap;

        .button {
            flex-grow: 1;
            text-align: center;

            .icon {
                display: block;
                font-size: 1.75em;
                margin: 0 auto 0.25em auto;
                text-align: center;
            }
        }
    }

    .video-controls {
        display: flex;
        flex-wrap: wrap;
        gap: 0.4em;

        .button {
            flex-grow: 1;
            text-align: center;

            .icon {
                display: block;
                font-size: 1.2em;
                margin: 0.2em auto 0em auto;
                text-align: center;
            }
        }
    }

    .video-title {
        .video-filename {
            display: block;
            font-size: 0.7em;

            &:before {
                content: none;
            }
        }
    }

    label {
        &.checkbox {
            display: block;

            input {
                // transform: scale(2);
                height: 1.5em;
                vertical-align: middle;
                width: 1.5em;
            }

            margin-bottom: 0.4em;
        }
    }

    .dashboard-stats {
        font-size: 0.8em;
        padding-bottom: 10px;
    }

    .local-videos {
        .local-videos-container {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }
    }

    .text-long {
        text-overflow: ellipsis;
        word-break: unset;
        overflow: unset;
    }

    .statustab {
        &.statustab-jobs {
            left: 0;
            right: 0;
            bottom: 50px;
            padding: 0.2em;
            border-radius: 0;
            table {
                width: 100%;
            }
        }
    }

}