.table {
    font-family: var(--body-font);
    font-size: 1em;
    text-align: left;
    border-collapse: collapse;
    td {
        padding: 0.5em;
    }
    &.is-slim {
        td {
            padding: 2px 4px;
        }
    } 
    th {
        text-align: left;
    }
    &.is-fullwidth {
        width: 100%;
    }
    &.is-striped {
        tr {
            &:nth-child(even) {
                background: rgba(0, 0, 0, 0.05);
            }
        }
    }
    &.is-hoverable {
        tr {
            &:hover {
                background: rgba(0, 0, 0, 0.03);
            }
        }
        &.is-striped {
            tr:hover {
                &:nth-child(even) {
                    background: rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
    thead {
        tr {
            th {
                padding: 0.5em;
                background-color: #3266cd;
                color: #fff;
            }
        }
    }
}