$favourite-base: #356e35;
$converting-base: #bb15ca;
$recording-base: #ca1515;
$waiting-base: #2b2b2b;

// $sidemenu-width: 330px;
$icon-dimensions: 1.2em !default;
$anchor-height: 60px;

$boxart-width: 140px;
$boxart-height: 190px;

:root {
    --body-background: #fdfdfd;
    --body-color: #111;
    --body-font: Roboto, Helvetica, Arial;
    --text-darker: #3d3d3d;

    --sidemenu-width: 330px;

    --section-background-color: #fdfdfd;
    --section-title-background-color: #277dec;
    --card-background-color: #fdfdfd;
    --card-title-background-color: #3261c7;;
    --video-description-background-color: #f2f2f2;
    --video-controls-background-color: #e2e9f9;
    --video-segments-background-color: #fff1fa;

    --video-bookmarks-background-color: #f2f2f2;

    --link-color: #277dec;
    --link-hover-color: #184279;
    --link-active-color: #148d8d;

    --input-background-color: #fff;
    --input-border-color: #ccc;
    --input-color: #333;
    --input-help: #777;
    --input-focus-color: #000;
    --input-focus-border-color: #555;
    --input-focus-background-color: #eff6ff;
    --accent-color: #277dec;

    --label-color: #363636;

    --statustab-background: #eee;
    --statustab-border: #ccc;
    --statustab-color: #333;

    --hr-color: #ccc;

    --notice-background-color: #eee;
    --notice-color: #555;

    --border-radius: 0;

    --gamelist-favourite: #7acc92;
    --gamelist-current: #f0a6a6;

    --modal-background-color: #ffffff;

    --field-group-background-color: #f5f5f5;

    --input-disabled-color: #777;
    --input-disabled-border-color: #ccc;
    --input-disabled-background-color: #f5f5f5;

    --template-preview-background-color: #eeeeee;

    --video-comment-background-color: #fff;

    --log-color-default: #333333;
    --log-color-success: #3ea335;
    --log-color-fatal: #ff0000;
    --log-color-warning: #ff7300;
    --log-color-error: #ff0000;
    --log-color-debug: #9c9c9c;


}
