@import "normalize.css/normalize";
// @import "~@fontsource/roboto/scss/mixins";

// @import "~@fontsource/roboto/500.css";
@import "@fontsource/roboto/latin.css";
@import "@fontsource/roboto-condensed/latin.css";

$favourite-base: #356e35;
$converting-base: #bb15ca;
$recording-base: #ca1515;
$waiting-base: #2b2b2b;

$sidemenu-width: 330px;
$icon-dimensions: 1.2em !default;
$anchor-height: 60px;

$boxart-width: 140px;
$boxart-height: 190px;

* {
    box-sizing: border-box;
}

/*
html {
    // scroll-behavior: smooth; // not fully stable yet
}
*/

body {
    background: #fdfdfd;
    color: #111;
    font-family: Roboto, Helvetica, Arial;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    padding: 0;
    margin: 0 0 10px 0;
}

h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 125%;
}

.code {
    display: block;
    font-family: "Source Code Pro", "Cascadia Code", "Consolas", monospace;
    padding: 8px 12px;
    margin: 4px 0;
    background: #222;
    color: #ccc;
}

a {
    cursor: pointer;
}

.table {
    font-family: Roboto, Helvetica, Arial;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
    td {
        padding: 0.5em;
    }
    &.is-slim {
        td {
            padding: 2px 4px;
        }
    } 
    th {
        text-align: left;
    }
    &.is-fullwidth {
        width: 100%;
    }
    &.is-striped {
        tr {
            &:nth-child(even) {
                background: rgba(0, 0, 0, 0.05);
            }
        }
    }
    &.is-hoverable {
        tr {
            &:hover {
                background: rgba(0, 0, 0, 0.03);
            }
        }
        &.is-striped {
            tr:hover {
                &:nth-child(even) {
                    background: rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
}

@import "animations";
@import "layout";
@import "menu";
@import "vod";
@import "input";
@import "videoplayer";
@import "components";
@import "modal";

.icon {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: $icon-dimensions;
    height: $icon-dimensions;
    vertical-align: -0.1em;
    color: inherit;
    /*
	svg {
		vertical-align: middle;
	}
	*/
    &.clickable {
        cursor: pointer;
    }
}

/*
svg[data-icon] {
	vertical-align: -1px;
	margin-right: 2px;
}
*/

.text-error,
.is-error {
    color: #f00;
    &.flashing {
        animation: 1s ease-in-out infinite live;
    }
}

.is-warning {
    color: #f80;
}

.is-success {
    color: #1db51d;
}

.is-small {
    font-size: 0.8em;
}

.is-gray {
    color: #ccc;
}

.is-dark-gray {
    color: #999;
}

.compressor {
    height: 16px;
    background-color: #f00;
}

.error {
    color: #f00;
}

.grey {
    color: #666;
}

.notice {
    // font-size: 0.9em;
    background: #eee;
    padding: 10px;
    color: #555;
}

.anchor {
    height: $anchor-height;
    margin: -$anchor-height 0 0;
}

.settings-streamer {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f7f7f7;
}

.help {
    cursor: help;
}

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
}

.favourites_list {
    max-height: 600px;
    overflow-y: scroll;
}

.is-shade {
    color: rgba(255, 255, 255, 0.6);
}

.is-centered {
    text-align: center;
}

@import "darkmode";
@import "mobile";
