/*
$fa-font-path: "./fontawesome/webfonts";
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/regular.scss";
@import "./fontawesome/scss/brands.scss";
*/

@import "~normalize.css/normalize";
// @import "~@fontsource/roboto/scss/mixins";

// @import "~@fontsource/roboto/500.css";
@import "~@fontsource/roboto/latin.css";
@import "~@fontsource/roboto-condensed/latin.css";

$favourite-base: #356e35;
$converting-base: #bb15ca;
$recording-base: #ca1515;
$waiting-base: #2b2b2b;

$sidemenu-width: 330px;
$icon-dimensions: 1.2em !default;
$anchor-height: 60px;

$boxart-width: 140px;
$boxart-height: 190px;

* {
    box-sizing: border-box;
}

/*
html {
    // scroll-behavior: smooth; // not fully stable yet
}
*/

body {
    background: #fdfdfd;
    color: #111;
    font-family: Roboto, Helvetica, Arial;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

table {
    font-family: Roboto, Helvetica, Arial;
    font-size: 14px;
}

td {
    padding: 2px 4px;
}

h1,
h2,
h3 {
    padding: 0;
    margin: 0 0 10px 0;
}

h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 125%;
}

code,
pre {
    display: block;
    font-family: "Source Code Pro", "Cascadia Code", "Consolas", monospace;
    padding: 8px 12px;
    margin: 4px 0;
    background: #222;
    color: #ccc;
}

a {
    cursor: pointer;
}

.table {
    text-align: left;
    th {
        text-align: left;
    }
}

@import "animations";
@import "layout";
@import "menu";
@import "vod";
@import "input";
@import "videoplayer";
@import "components";

.icon {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: $icon-dimensions;
    height: $icon-dimensions;
    vertical-align: -0.1em;
    /*
	svg {
		vertical-align: middle;
	}
	*/
}

/*
svg[data-icon] {
	vertical-align: -1px;
	margin-right: 2px;
}
*/

.text-error,
.is-error {
    color: #f00;
    &.flashing {
        animation: 1s ease-in-out infinite live;
    }
}

.is-gray {
    color: #ccc;
}

.compressor {
    height: 16px;
    background-color: #f00;
}

.error {
    color: #f00;
}

.grey {
    color: #666;
}

.notice {
    // font-size: 0.9em;
    background: #eee;
    padding: 10px;
    color: #555;
}

.anchor {
    height: $anchor-height;
    margin: -$anchor-height 0 0;
}

.settings-streamer {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f7f7f7;
}

/** Black theme **/
@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: #e6e6e6;
    }

    a {
        color: #75ccee;
        &:hover {
            color: #fff;
        }
    }

    .section {
        background-color: #222;
        box-shadow: none;
        //box-shadow: 0 5px 10px #131313;
    }

    .section-title {
        background-color: #184279;
    }

    .streamer-title {
        background-color: #2b375b;
    }

    .small {
        color: #9b9b9b;
    }

    .notice {
        background-color: #484848;
        border-color: #2b2b2b;
        color: #d7d7d7;
    }

    .video-description {
        background-color: #484848;
    }

    .video-chapters {
        background-color: #333;
    }

    .video-controls {
        background-color: #384d7d;
    }

    .video-segments {
        background-color: #4c5884;
    }

    .video-description,
    .video-segments,
    .video-controls,
    .video-chapters {
        border-color: #333;
    }

    .game-list {
        td:nth-child(4) {
            color: #aaa;
        }
        a {
            color: #75ccee;
            &:hover {
                color: #fff;
            }
        }
    }

    .info-columns {
        .video-info {
            color: #c8c8c8;
        }
    }

    #js-status,
    .jobs_list {
        color: #eee;
        background-color: #333;
        border-color: #111;
    }

    .label {
        color: #6eb4ff;
    }

    .input {
        color: #aaa;
        background-color: #333;
        border-color: #666;
        &:focus {
            color: #eee;
            border-color: #777;
            background-color: #353535;
        }
    }

    .card {
        .card-content {
            background-color: #3e3e3e;
        }
    }
}

.help {
    cursor: help;
}

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
}

.favourites_list {
    max-height: 600px;
    overflow-y: scroll;
}

.is-shade {
    color: rgba(255, 255, 255, 0.6);
}

@import "mobile";
