@import "normalize.css/normalize";
// @import "~@fontsource/roboto/scss/mixins";

// @import "~@fontsource/roboto/500.css";
@import "@fontsource/roboto/latin.css";
@import "@fontsource/roboto-condensed/latin.css";
@import "@fontsource/poppins";
@import "@fontsource/poppins/600";

// @import "bulma/sass/utilities/_all";
// @import "bulma/sass/elements/button";
// @import "bulma/sass/forms/_all";

$favourite-base: #356e35;
$converting-base: #bb15ca;
$recording-base: #ca1515;
$waiting-base: #2b2b2b;

// $sidemenu-width: 330px;
$icon-dimensions: 1.2em !default;
$anchor-height: 60px;

$boxart-width: 140px;
$boxart-height: 190px;

:root {
    --body-background: #fdfdfd;
    --body-color: #111;
    --body-font: Roboto, Helvetica, Arial;
    --text-darker: #3d3d3d;

    --sidemenu-width: 330px;

    --section-background-color: #fdfdfd;
    --section-title-background-color: #277dec;
    --card-background-color: #fdfdfd;
    --card-title-background-color: #3261c7;;
    --video-description-background-color: #f2f2f2;
    --video-controls-background-color: #e2e9f9;
    --video-segments-background-color: #fff1fa;

    --video-bookmarks-background-color: #f2f2f2;

    --link-color: #277dec;
    --link-hover-color: #184279;

    --input-background-color: #fff;
    --input-border-color: #ccc;
    --input-color: #333;
    --input-help: #777;
    --input-focus-color: #000;
    --input-focus-border-color: #555;
    --input-focus-background-color: #eff6ff;

    --label-color: #363636;

    --statustab-background: #eee;
    --statustab-border: #ccc;
    --statustab-color: #333;

    --hr-color: #ccc;

    --notice-background-color: #eee;
    --notice-color: #555;

    --border-radius: 0;

    --gamelist-favourite: #7acc92;
    --gamelist-current: #f0a6a6;

    --modal-background-color: #ffffff;

    --field-group-background-color: #f5f5f5;

    --input-disabled-color: #777;
    --input-disabled-border-color: #ccc;
    --input-disabled-background-color: #f5f5f5;

    --template-preview-background-color: #eeeeee;

    --video-comment-background-color: #fff;
}

* {
    box-sizing: border-box;
}

/*
html {
    // scroll-behavior: smooth; // not fully stable yet
}
*/

body {
    background: var(--body-background);
    color: var(--body-color);
    // font-family: /* Poppins, */ Roboto, Helvetica, Arial;
    font-family: var(--body-font);
    font-size: 14px;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    padding: 0;
    margin: 0 0 10px 0;
}

h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 125%;
}

.code {
    display: block;
    font-family: "Source Code Pro", "Cascadia Code", "Consolas", monospace;
    padding: 8px 12px;
    margin: 4px 0;
    background: #222;
    color: #ccc;
}

a {
    cursor: pointer;
    color: var(--link-color);
    &:hover {
        color: var(--link-hover-color);
    }
}

@import "animations";
@import "layout";
@import "menu";
@import "streamer";
@import "vod";
@import "input";
@import "videoplayer";
@import "components";
@import "modal";
@import "button";
@import "form";
@import "table";
@import "mediaplayer";

.icon {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: $icon-dimensions;
    height: $icon-dimensions;
    vertical-align: -0.1em;
    color: inherit;
    /*
	svg {
		vertical-align: middle;
	}
	*/
    &.clickable {
        cursor: pointer;
    }
}

/*
svg[data-icon] {
	vertical-align: -1px;
	margin-right: 2px;
}
*/

.text-error,
.is-error {
    color: #f00;
    &.flashing {
        animation: 1s ease-in-out infinite live;
    }
}

.is-warning {
    color: #f80;
}

.is-success {
    color: #1db51d;
}

.is-small {
    font-size: 0.8em;
}

.is-gray {
    color: #ccc;
}

.is-dark-gray {
    color: #999;
}

.compressor {
    height: 16px;
    background-color: #f00;
}

.error {
    color: #f00;
}

.grey {
    color: #666;
}

.notice {
    // font-size: 0.9em;
    background: var(--notice-background-color);
    padding: 0.8em;
    color: var(--notice-color);
}

.anchor {
    height: $anchor-height;
    margin: -$anchor-height 0 0;
}

.settings-streamer {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f7f7f7;
}

.help {
    cursor: help;
}

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
}

.favourites_list {
    max-height: 600px;
    overflow-y: scroll;
    .checkbox {
        padding: 0.2em 0;
    }
}

.is-shade {
    color: rgba(255, 255, 255, 0.6);
}

.is-centered {
    text-align: center;
}

@import "darkmode";
@import "mobile";

.is-text-darker {
    color: var(--text-darker);
}