<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="referrer" content="no-referrer" />
        <title>{{ config.app_name }}</title>
        <link href="{{ base_path() }}/assets/style.css" rel="stylesheet" />
        <link rel="icon" type="image/png" href="{{ base_path() }}/assets/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
    </head>

    <body>

        {% if errors %}
        <div class="big-error">
            {% for error in errors %}
                <div class="big-error-item">{{ error }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="top-menu">
            {% include "components/menu.twig" %}
        </div>

        {% block content %}
        {% endblock %}

    </body>

</html>
