<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="referrer" content="no-referrer" />
        <title>{{ config.app_name }}</title>
        <link href="{{ base_path() }}/assets/style.css" rel="stylesheet" />
        <link rel="icon" type="image/png" href="{{ base_path() }}/assets/favicon.png">
        {% endblock %}
    </head>

    <body>

        <div class="top-menu">
            {% include "components/menu.twig" %}
        </div>

        {% block content %}
        {% endblock %}

    </body>

</html>
