<!DOCTYPE html>
    <head>
        {% block head %}
        <meta name="referrer" content="no-referrer" />
        <title>{{ config.app_name }}</title>
        <link href="style.css" rel="stylesheet" />
        {% endblock %}
    </head>

    <body>

        <div class="top-menu">
            {% include "components/menu.twig" %}
        </div>

        {% block content %}
        {% endblock %}

    </body>

</html>
