<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="referrer" content="no-referrer" />
        <title>{{ config.app_name }}</title>
        <link href="{{ base_path() }}/assets/style.css" rel="stylesheet" />
        <link rel="icon" type="image/png" href="{{ base_path() }}/assets/favicon.png">
        {% endblock %}
    </head>

    <body>

        <div class="big-error">
            {% if not config.hook_callback %}No hook callback set, please visit settings.<br>{% endif %}
            {% if not config.api_client_id %}No API client id set, please visit settings.<br>{% endif %}
            {% if not config.api_secret %}No API secret set, please visit settings.<br>{% endif %}
            {% if not config.bin_dir %}No Python bin directory set, please visit settings.<br>{% endif %}
            {% if not config.ffmpeg_path %}No FFmpeg path set, please visit settings.<br>{% endif %}
        </div>

        <div class="top-menu">
            {% include "components/menu.twig" %}
        </div>

        {% block content %}
        {% endblock %}

    </body>

</html>
