{% extends "base.twig" %}

{% block content %}
    <div class="dialog {{ type }}">
        <div class="dialog-title">Alert</div>
        <div class="dialog-content">{{ text }}</div>
        <div class="dialog-buttons"></div>
    </div>
{% endblock %}