@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap");
@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes meme {
  0% {
    left: -5%; }
  100% {
    left: 105%; } }

@keyframes flashing {
  0% {
    border-color: #000; }
  50% {
    border-color: #888; }
  100% {
    border-color: #000; } }

* {
  box-sizing: border-box; }

body {
  font: 12px 'Open Sans', 'Arial';
  height: 100%;
  margin: 0;
  padding: 0;
  /* background: #0f0; */
  background: #111; }

table {
  font-family: 'Open Sans', Arial;
  font-size: 12px;
  color: #ccc;
  width: 100%; }
  table td {
    border-collapse: collapse;
    padding: 0;
    margin: 0; }

hr {
  height: 1px;
  border: none;
  background-color: #444; }

#app {
  width: 1280px;
  margin: 0 auto; }

#comments {
  padding: 5px;
  font-size: 12px;
  color: #fff;
  /* height: 100%; */
  width: 25%;
  overflow: hidden;
  position: absolute;
  top: 0%;
  bottom: 0%;
  pointer-events: none;
  /*
	span {
		padding: 0 1px;
	}
	*/
  /*
	#comments .badge {
		display: inline-block;
		font-weight: 700;
		color: #eee;
		padding: 0 3px;
		background: #832B2B;
		border-radius: 3px;
		margin: 0 2px;
	}

	#comments .badge.premium {
		background: #427EBC;
	}
	*/ }
  #comments.align-left {
    top: 0px;
    left: 0px; }
    #comments.align-left.has-gradient {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,7db9e8+100&1+0,0+100 */
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(125, 185, 232, 0) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(125, 185, 232, 0) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(125, 185, 232, 0) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  #comments.align-right {
    top: 0px;
    right: 0px; }
    #comments.align-right.has-gradient {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,7db9e8+100&1+0,0+100 */
      background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.7) 0%, rgba(125, 185, 232, 0) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.7) 0%, rgba(125, 185, 232, 0) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to left, rgba(0, 0, 0, 0.7) 0%, rgba(125, 185, 232, 0) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  #comments.text-left {
    text-align: left; }
  #comments.text-right {
    text-align: right; }
  #comments.has-fill40 {
    background: rgba(0, 0, 0, 0.4); }
  #comments.has-fill80 {
    background: rgba(0, 0, 0, 0.8); }
  #comments .comment {
    min-height: 20px;
    /* animation: fade 0.2s; */ }
  #comments.has-stroke .comment {
    text-shadow: -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111, 1px 1px 3px rgba(0, 0, 0, 0.7); }
  #comments .time {
    color: #aaa; }
  #comments .badge {
    display: inline-block;
    margin: 0 3px; }
  #comments .name {
    font-weight: 700;
    color: #ccc; }
  #comments .emote {
    max-height: 32px; }
    #comments .emote.is-small {
      max-height: 18px; }
  #comments img {
    vertical-align: middle; }
  #comments.niconico {
    width: 1280px;
    height: 720px;
    display: block;
    overflow: hidden; }
    #comments.niconico .comment {
      display: block;
      width: 800px;
      overflow: hidden;
      font-size: 2em;
      position: absolute; }
      #comments.niconico .comment .body {
        display: inline-block; }
      #comments.niconico .comment .text {
        display: inline-block;
        margin-right: 5px; }
      #comments.niconico .comment .name {
        display: none; }
      #comments.niconico .comment .badges {
        display: none; }

#player {
  width: 1280px;
  height: 720px;
  position: relative;
  overflow: hidden;
  /* margin: auto; */ }

#player:fullscreen {
  width: 100%;
  height: 100%; }

#video {
  width: 100%;
  height: 100%;
  /* background: #3D4470; */
  background: #f0f; }

#video-container {
  width: 100%;
  height: 100%; }

#osd {
  display: none;
  position: absolute;
  left: 640px;
  top: 360px;
  background: #f00;
  color: #fff;
  padding: 10px;
  font-family: Consolas, monospace; }

#osd.running {
  background: #00f; }

#controls {
  width: 1280px; }

.option-row {
  display: flex; }

.option-row .option-group {
  flex-grow: 1;
  flex-basis: 33%; }

.option-group {
  margin: 1px;
  border: 1px solid #666;
  background: #222;
  color: #ccc; }
  .option-group.ok {
    background: #3B5134;
    border-color: #5D963A; }
  .option-group h2 {
    font-size: 16px;
    margin: 0;
    padding: 0 0 1px 0; }
  .option-group .option-title {
    padding: 2px 4px;
    background: #333;
    font-weight: 700;
    font-size: 90%;
    text-shadow: 0 1px 0 #000;
    border-bottom: 1px solid #555; }
  .option-group .option-content {
    padding: 4px; }

#timeline {
  position: relative;
  overflow: hidden;
  height: 24px;
  font-size: 14px;
  font-weight: 700;
  width: 1280px;
  background: #222;
  border-bottom: 1px solid #333;
  color: #fff;
  cursor: pointer; }

#timeline-text {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #fff;
  padding: 4px; }

#timeline-seekbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  background: linear-gradient(#ad2020, #622);
  height: 24px; }

#timeline-markers {
  position: relative;
  width: 1280px;
  height: 24px;
  pointer-events: none; }

.timeline-marker {
  position: absolute;
  top: 0px;
  left: 0px;
  border-left: 1px solid #fff; }

#playback_info {
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  width: 1280px;
  background: #222;
  color: #fff;
  padding: 2px 4px; }

.help-text {
  color: #aaa;
  font-weight: 300;
  font-size: 90%;
  margin: 0 0 3px 0;
  padding: 0; }

.button {
  background: #555;
  border: 1px solid #666;
  color: #ccc;
  padding: 4px 15px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }
  .button:not(:disabled):hover {
    background: #666;
    border-color: #999;
    color: #fff;
    cursor: pointer; }
  .button:disabled {
    color: #777;
    cursor: not-allowed; }
  .button.is-small {
    font-size: 0.9em;
    padding: 2px 8px; }
  .button.color-green {
    background: #2a974f; }
  .button.is-flashing {
    animation: 1s infinite flashing ease-in-out; }

.button-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px; }
  .button-group .button {
    flex-grow: 1; }

.input-range {
  height: 18px;
  vertical-align: -2px; }

input, select {
  background: #555;
  border: 1px solid #717171;
  color: #ccc;
  padding: 3px 6px;
  margin: 1px 0; }
  input optgroup, select optgroup {
    background-color: #666; }
  input[type="range"], select[type="range"] {
    height: 16px;
    vertical-align: middle; }
  input.fullsize, select.fullsize {
    width: 100%; }
  input:focus, select:focus {
    border-color: #999;
    color: #fff; }

.meme {
  position: absolute;
  left: 50%;
  bottom: -5px;
  animation: 60s meme linear infinite;
  /*
	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	pointer-events: none;
	*/ }

.meme-bg {
  background-image: url(https://i.imgur.com/0Lwjy2o.gif);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: crisp-edges;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

/*
p {
	margin: 3px 0;
	padding: 0;
}
*/
