.videoplayer { width: 1280px; }

.videoplayer-chapters { display: flex; width: 100%; }

.videoplayer-chapter {
	font-family: 'Roboto Condensed', 'Roboto', 'Arial';
	padding: 5px;
	background: #eee;
	border-right: 1px solid #aaa;
	//flex-shrink: 1;
	//flex-grow: 1;
	word-break: break-all;
	white-space: nowrap;
	overflow: hidden;
	max-height: 100px;
	&:hover {
		background: #D3EAFA;
		cursor: pointer;
	}
}

.videoplayer-chapter-title { font-weight: 700; }
.videoplayer-chapter-game { font-weight: 400; font-size: 90%; color: #444; }
