$fa-font-path: "../assets/webfonts";
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/regular.scss";
@import "./fontawesome/scss/brands.scss";

@import "normalize";

$favourite-base: #356e35;
$converting-base: #bb15ca;
$recording-base: #ca1515;
$waiting-base: #2b2b2b;

* {
	box-sizing: border-box;
}

body {
	background: #fdfdfd;
	color: #111;
	font-family: Roboto, Helvetica, Arial;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

table {
	font-family: Roboto, Helvetica, Arial;
	font-size: 14px;
}

td {
	padding: 2px 4px
}

h1, h2, h3 {
	padding: 0;
	margin: 0 0 10px 0;
}

h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 125%; }

code, pre {
	display: block;
	font-family: 'Source Code Pro', 'Cascadia Code', 'Consolas', monospace;
	padding: 8px 12px;
	background: #222;
	color: #ccc;
}

.table {
	text-align: left;
	th { text-align: left; }
}

@import "animations";
@import "layout";
@import "menu";
@import "vod";
@import "input";

$icon-dimensions: 1.2em !default;

.icon {
	align-items: center;
	justify-content: center;
	display: inline-flex;
	width: $icon-dimensions;
	height: $icon-dimensions;

}

.error {
	color: #f00;
	&.flashing {
		animation: 1s ease-in-out infinite live;
	}
}

.videoplayer { width: 1280px; }

.videoplayer-chapters { display: flex; width: 100%; }

.videoplayer-chapter {
	font-family: 'Roboto Condensed', 'Roboto', 'Arial';
	padding: 5px;
	background: #eee;
	border-right: 1px solid #aaa;
	//flex-shrink: 1;
	//flex-grow: 1;
	word-break: break-all;
	white-space: nowrap;
	overflow: hidden;
	max-height: 100px;
	&:hover {
		background: #D3EAFA;
		cursor: pointer;
	}
}

.videoplayer-chapter-title { font-weight: 700; }
.videoplayer-chapter-game { font-weight: 400; font-size: 90%; color: #444; }

.section .streamer-box {
	margin-bottom: 20px;
}

.compressor {
	height: 16px;
	background-color: #f00;
}

.error {
	color: #f00;
}


.grey {
	color: #666;
}

.notice {
	// font-size: 0.9em;
	background: #eee;
	padding: 10px;
	color: #555;
}

.log_viewer {
	font-family: Consolas, monospace;
	font-size: 80%;
	color: #333;
	max-height: 600px;
	// max-width: 600px;
	overflow-x: scroll;
	overflow-y: scroll;
	.log_success {
		color: #3ea335;
		font-weight: 700;
	}
	.log_fatal {
		color: #ff0000;
		font-weight: 700;
		animation: 0.5s live infinite ease-in-out;
	}
	.log_warning {
		color: #ff7300;
		font-weight: 700;
	}
	.log_error {
		color: #f00;
		font-weight: 700;
	}
	.log_debug {
		color: #9c9c9c;
		font-weight: 200;
	}
}

.boxart {
	vertical-align: -4px;
	width: 14px;
	height: 19px;
}

.boxart-big {
	height: 100px;
}

$anchor-height: 60px;

.anchor {
	height: $anchor-height;
    margin: -$anchor-height 0 0;
}

.big-error {
	padding: 10px;
	background-color: #f00;
	font-weight: 700;
	color:#fff;
	&:empty {
		display: none;
	}
}

.settings-streamer {
	margin-bottom: 5px;
	padding: 5px;
	background-color: #f7f7f7;
}

/** Black theme **/
body.black {
	
	background-color: #111;
	color: #e6e6e6;

	.section {
		background-color: #222;
		box-shadow: none;
		//box-shadow: 0 5px 10px #131313;
	}

	.section-title {
		background-color: #184279;
	}

	.streamer-title {
		background-color: #2b375b;
	}

	.small {
		color: #9b9b9b
	}

	.notice {
		background-color: #484848;
		border-color: #2b2b2b;
		color: #d7d7d7;
	}

}

.help {
	cursor: help;
}

.text-overflow {
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-word;
}

#js-status {
	position: fixed;
	right: 10px;
	bottom: 0px;
	background: #eee;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 3px 3px 0 0;
	border: 1px solid #ccc;
	border-bottom: none;
	transition: ease-in-out 0.5s background-color;
	z-index: 3;
	&.active {
		background-color: #d75252;
		color: #fff;
		animation: 1s ease-in-out infinite recording;
		border-color: #222;
	}
}

.favourites_list {
	max-height: 600px;
	overflow-y: scroll;
}

.is-shade {
	color: rgba(255, 255, 255, .6);
}

.dialog {
	margin: 15px;
	font-weight: 700;
	color: #fff;
	.dialog-title {
		padding: 5px 10px;
		font-size: 120%;
		background-color: rgba(0, 0, 0, .3);
	}
	.dialog-content {
		padding: 10px;
	}
	&.success {
		background-color: #43b543;
	}
	&.error {
		background-color: #8f2a2a;
	}
}

@media screen and (orientation: portrait) {
	body { font-size: 1rem; }
	.container { display: block; width: 100%; }
	.content { margin: 0; }
	.section { margin: 5px 0; }
	.splitter { flex-direction: column; }
	.side-menu {
		width: auto;
		height: auto;
		position: static;
		display: block;
	}
	.top-menu-item {
		display: block;
		align-items: baseline;
		justify-content: baseline;
		a {
			display: block;
		}
		&.streamer {
			.vodcount {
				font-size: 85%;
				&:after { content: ' vods'; }
				&:before { content: '· '; }
			}
			.subtitle {
				display: inline-block;
				font-size: 80%;
				&:before { content: '·'; }
			}
		}
	}

	.menu-bottom {
		min-height: 50px;
	}

	.streamer-jumpto {
		display: none;
	}

	.info-columns {
		flex-direction: column;
		flex-wrap: wrap;
		.info-column {
			padding-right: 0px;
			padding-bottom: 10px;
			&:last-child {
				padding-bottom: 0px;
			}
		}
	}

	.boxart-big {
		max-height: 70px;
	}

	.button-bar {
		display: flex;
		flex-wrap: wrap;
		.button {
			flex-grow: 1;
			text-align: center;
			.icon {
				display: block;
				font-size: 1.75em;
				margin: 0 auto 0.25em auto;
				text-align: center;
			}
		}
	}

	.video-controls {
		display: flex;
		flex-wrap: wrap;
		.button {
			flex-grow: 1;
			text-align: center;
			.icon {
				display: block;
				font-size: 1.75em;
				margin: 0 auto 0.25em auto;
				text-align: center;
			}
		}
	}

}
