@keyframes recording {
	0% { background-color: #ca1515; }
	50% { background-color: #7c1717; }
	100% { background-color: #ca1515; }
}

@keyframes live {
	0% { color: #ca1515; }
	50% { color: #7c1717; }
	100% { color: #ca1515; }
}

@keyframes speen {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@keyframes zoom {
	0% { background-size: 100%; }
	50% { background-size: 105%; }
	100% { background-size: 100%; }
}

* {
	box-sizing: border-box;
}

body {
	background: #fdfdfd;
	color: #111;
	font-family: Roboto, Helvetica, Arial;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

table {
	font-family: Roboto, Helvetica, Arial;
	font-size: 14px;
}

td {
	padding: 2px 4px
}

h1, h2, h3 {
	padding: 0;
	margin: 0 0 10px 0;
}

h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 125%; }

code, pre {
	display: block;
	font-family: 'Source Code Pro', 'Cascadia Code', 'Consolas', monospace;
	padding: 8px 12px;
	background: #222;
	color: #ccc;
}

.favicon {
	width: 24px;
	height: 24px;
	vertical-align: -5px;
	margin: 0 3px;
}

.table {
	text-align: left;
	th { text-align: left; }
}

.top-menu {
	position: sticky;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #000;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	// font-size: 1em;
}

// TODO: make this more dynamic
.top-menu-item {
	
	font-size: 120%;
	
	// padding: 5px 8px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&.title {
		font-weight: 700;
		a {
			color: #fff;
			padding: 13px 8px;
		}
		.favicon { transition: ease-in-out 0.5s transform; }
		// .favicon { animation: 1s speeen linear; }
		&:hover .favicon {
			animation: 1s speen linear infinite;
		}
	}

	a {
		color: #777;
		text-decoration: none;
		display: inline-block;
		padding: 5px 8px 11px 8px;		
		&:hover {
			color: #fff;
			background: #111;
		}
	}
	
	&.divider {
		flex-grow: 1;
	}

	&.right {
		// flex-grow: 1;
		// text-align: right;
		a {
			padding: 14px 8px;
		}
	}

	.small {
		color: #555;
		font-size: 80%;
	}

	&.streamer {
		a {
			padding: 5px 8px 12px 8px;
		}
		.vodcount {
			font-size: 90%;
			color: #666;
		}
		.subtitle { 
			font-family: 'Roboto Condensed', 'Roboto', 'Arial';
			font-weight: 500;
			display: block;
			font-size: 80%;
			line-height: 0.7em;
			color: #444;
		}
		
	}

	&.live {
		&.streamer{
			.username {
				color: #f00;
				animation: live ease-in-out 1s infinite;
				font-weight: 700;
			}
			.subtitle, .vodcount {
				color: #b30000;
			}
		}
	}

	&.active {
		a {
			color: #fff;
		}
	}

}

.info-columns {
	display: flex;
	.info-column {
		// flex-grow: 1;
		padding-right: 20px;
		&:last-child {
			padding-right: 0;
		}
	}
}

.video-info {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
	line-height: 1.4em;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-word;
}

a.linkback {
	font-weight: 700;
	color: #e0e00d; /* forgive me padre for i have sinned */
	&:hover {
		color: #fff;
	}
}

/*
.live {
	color: #f00;
	animation: live ease-in-out 1s infinite;
}
*/

.video {

	margin-bottom: 10px;
	// border-bottom: 1px solid #eee;
	
	&.recording {
		
		.video-title {
			background-color: #ca1515;
			animation: recording ease-in-out 1s infinite;
			h3 {
				text-shadow: 0 2px 0 #851818;
			}
		}

	}

	&.converting {
	
		.video-title {
			background-color: #bb15ca;
			h3 {
				text-shadow: 0 2px 0 darken(#bb15ca, 10%);
			}
		}

	}

}

.video-title {

	padding: 10px;
	background: #2b61d6;
	color: #fff;

	// good idea?
	position: sticky;
	top: 48px;

	h3 {
		margin: 0;
		padding: 0;
		text-shadow: 0 2px 0 #1e4599;
	}

}

.button-bar {
	display: flex;
	/*
	.button {
		flex-grow: 1;
	}
	*/
}

.button {

	$base-bg: #c4e0f3;

	font-family: inherit;
	font-size: 14px;

	text-decoration: none;

	display: inline-block;
	padding: 5px 14px;
	
	text-align: center;
	min-width: 80px;

	/*
	border-radius: 3px;
	color: #222;
	background: #eee;
	border: 1px solid #999;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .2), inset 0 -3px 0 rgba(0, 0, 0, .1);
	*/

	border: 1px solid darken($base-bg, 5%);
	background-color: $base-bg;
	color: #333;

	margin: 1px;
	
	// transition: 0.05s all ease-in-out;

	// text-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	&:hover {
		cursor: pointer;
		color: #111;
		background-color: darken($base-bg, 5%);
		border-color: darken($base-bg, 10%);
		// transform: scale(1.02);
	}

	&:active {
		background-color: #aaa;
		transform: translate(1px, 1px);
	}

	&.is-blue {
		$base-bg: #5098f7;
		background-color: $base-bg;
		border-color: darken($base-bg, 5%);
		color: #fff;
		&:hover {
			background-color: darken($base-bg, 5%);
			border-color: darken($base-bg, 10%);
		}
	}

	&.is-confirm {
		$base-bg: #3db92c;
		background-color: $base-bg;
		border-color: darken($base-bg, 5%);
		color: #fff;
		&:hover {
			background-color: darken($base-bg, 5%);
			border-color: darken($base-bg, 10%);
		}
		&:active {
			background-color: darken($base-bg, 10%);
			border-color: darken($base-bg, 15%);
			
		}
	}

	&.is-danger {
		$base-bg: #b35531;
		background-color: $base-bg;
		border-color: darken($base-bg, 5%);
		color: #fff;
		&:hover {
			background-color: darken($base-bg, 5%);
			border-color: darken($base-bg, 10%);
		}
	}

}

.input {

	background-color: #fff;

	font-family: inherit;
	font-size: 14px;

	padding: 4px 6px;
	margin: 2px 0px;
	border-radius: 3px;

	color: #333;
	border: 1px solid #ccc;	

	&:hover {
		border-color: #aaa;
	}

	&:focus {
		color: #000;
		// box-shadow: 0 0 3px inset #eee;
		border-width: 2px;
		border-color: #555;
		background-color: #eff6ff;
		padding: 3px 5px;
	}

	&[type=text], &[type=number], &[type=password] {
		min-width: 200px;
	}

}

.error {
	color: #f00;
	&.flashing {
		animation: 1s ease-in-out infinite live;
	}
}

.video-description {
	padding: 10px;
	background: #f2f2f2;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
}

.video-controls {
	padding: 10px;
	background-color: #e2e9f9;
	border-top: 1px solid #d6dbf2;
	border-bottom: 1px solid #d6dbf2;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
}

.video-segments {
	padding: 10px;
	background-color: #fff1fa;
	border-top: 1px solid #d6dbf2;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
}

.video-chapters {
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}

.video-error {
	background: #f00;
	padding: 10px;
	color: #fff;
	font-weight: 700;
	a {
		color: #ffff00;
		&:hover {
			color: #fff;
		}
	}
}

.videoplayer { width: 1280px; }

.videoplayer-chapters { display: flex; width: 100%; }

.videoplayer-chapter {
	font-family: 'Roboto Condensed', 'Roboto', 'Arial';
	padding: 5px;
	background: #eee;
	border-right: 1px solid #aaa;
	//flex-shrink: 1;
	//flex-grow: 1;
	word-break: break-all;
	white-space: nowrap;
	overflow: hidden;
	max-height: 100px;
	&:hover {
		background: #D3EAFA;
		cursor: pointer;
	}
}

.videoplayer-chapter-title { font-weight: 700; }
.videoplayer-chapter-game { font-weight: 400; font-size: 90%; color: #444; }

.section {
	/* border: 1px solid #ccc; */
	background: #fff;
	box-shadow: 0 5px 10px #ddd;
	margin: 10px;
	// border-radius: 5px;
	/* overflow: hidden; */
}

.section-title {

	font-weight: 700;
	background: #277dec;
	color: #fff;
	padding: 5px 10px;

	cursor: pointer;
	
	h1 {
		font-size: 1.2em;
		margin: 0;
		text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
	}

}

.section-content {
	padding: 10px;
}


.container {

	display: flex;
	
	flex-wrap: wrap;

	.section {
		flex-grow: 1;
	}

	&.vertical {
		display: block;
	}
	
}


.section .streamer-box {
	margin-bottom: 20px;
}

.game-list {

	$favourite-bg: #7acc92;

	width: 100%;
	border-collapse: collapse;
	tr:nth-child(2n) {
		background: rgba(0, 0, 0, .05);
	}
	/*
	thead {
		background-color: #1e4599;
		color: #eee;
	}
	*/
	td:nth-child(4){ color: #444; }

	tr.favourite {
		background-color: $favourite-bg;
		td {
			background-color: $favourite-bg;
		}
	}
}

.streamer-title {

	font-size: 110%;

	// position: sticky;
	// top: 30px;
	
	background-color: #243e94;
	
	margin-bottom: 5px;
	color: #fff;

	// border-bottom: 1px solid #919191;
	// box-shadow: 0 3px 3px rgba(0,0,0,.15);

	display: flex;

	.streamer-title-avatar {
		// background-color: #0f0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		// animation: zoom 1s infinite ease-in-out;
		width: 60px; // css, why
		/*
		img {
			background-color: #f00;
			height: 100%;
			width: auto;
		}
		*/
	}

	.streamer-title-text {
		flex-grow: 1;
		padding: 5px 8px;
	}

	.small {
		font-size: 90%;
		color: #779ae7;
	}

	h2 {
		font-size: 1.3em;
		margin: 0;
		padding: 0;
	}

	a {
		color: #fff;
		text-decoration: none;
		&:hover {
			color: #b673f5;
		}
	}

	&.is-live {
		background-color: #5e0b0b;
		.small {
			color: #db3131;
		}
		a:hover {
			color: #eb7b7b;
		}
	}

	.live {
		color: #f00;
		animation: live ease-in-out 1s infinite;
		font-weight: 700;
	}

}

.streamer-jumpto {
	ul {
		list-style: none;
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		li {
			a {
				$base-bg: #5098f7;
				background-color: $base-bg;
				border-color: darken($base-bg, 5%);
				color: #eee;
				margin: 1px;
				display: inline-block;
				text-decoration: none;
				padding: 3px 8px;
				&:hover {
					color: #fff;
					background-color: darken($base-bg, 5%);
				}
				&.favourite {
					background-color: #469646;
				}
			}
		}
	}
}

.error {
	color: #f00;
}


.grey {
	color: #666;
}

.notice {
	// font-size: 0.9em;
	background: #eee;
	padding: 10px;
	color: #555;
}

.log_viewer {
	font-family: Consolas, monospace;
	font-size: 80%;
	color: #333;
	max-height: 600px;
	// max-width: 600px;
	overflow-x: scroll;
	overflow-y: scroll;
	.log_success {
		color: #3ea335;
		font-weight: 700;
	}
	.log_fatal {
		color: #ff0000;
		font-weight: 700;
		animation: 0.5s live infinite ease-in-out;
	}
	.log_warning {
		color: #ff7300;
		font-weight: 700;
	}
	.log_error {
		color: #f00;
		font-weight: 700;
	}
	.log_debug {
		color: #9c9c9c;
		font-weight: 200;
	}
}

.boxart {
	vertical-align: -4px;
	width: 14px;
	height: 19px;
}

.boxart-big {
	height: 100px;
}

.input-help {
	font-size: 85%;
	color: #777;
	font-style: italic;
	margin-bottom: 8px;
}

hr {
	height: 1px;
	border: none;
	background-color: #ccc;
}

$anchor-height: 60px;

.anchor {
	height: $anchor-height;
    margin: -$anchor-height 0 0;
}

.big-error {
	padding: 10px;
	background-color: #f00;
	font-weight: 700;
	color:#fff;
	&:empty {
		display: none;
	}
}

/** Black theme **/
body.black {
	
	background-color: #111;
	color: #e6e6e6;

	.section {
		background-color: #222;
		box-shadow: none;
		//box-shadow: 0 5px 10px #131313;
	}

	.section-title {
		background-color: #184279;
	}

	.streamer-title {
		background-color: #2b375b;
	}

	.small {
		color: #9b9b9b
	}

	.notice {
		background-color: #484848;
		border-color: #2b2b2b;
		color: #d7d7d7;
	}

}

.help {
	cursor: help;
}

.text-overflow {
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-word;
}

#js-status {
	position: fixed;
	right: 10px;
	bottom: 0px;
	background: #eee;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 3px 3px 0 0;
	border: 1px solid #ccc;
	border-bottom: none;
	transition: ease-in-out 0.5s background-color;
	&.active {
		background-color: #d75252;
		color: #fff;
		animation: 1s ease-in-out infinite recording;
		border-color: #222;
	}
}

.favourites_list {
	max-height: 600px;
	overflow-y: scroll;
}

.dialog {
	margin: 15px;
	font-weight: 700;
	color: #fff;
	.dialog-title {
		padding: 5px 10px;
		font-size: 120%;
		background-color: rgba(0, 0, 0, .3);
	}
	.dialog-content {
		padding: 10px;
	}
	&.success {
		background-color: #43b543;
	}
	&.error {
		background-color: #8f2a2a;
	}
}

@media screen and (orientation: portrait) {
	body { font-size: 1rem; }
	.container { display: block; width: 100%; }
	.section { margin: 5px 0; }
	.top-menu {
		width: 100%;
		height: auto;
		position: static;
		display: block;
	}
	.top-menu-item {
		display: block;
		align-items: baseline;
		justify-content: baseline;
		a {
			display: block;
		}
		&.streamer {
			.vodcount {
				font-size: 85%;
				&:after { content: ' vods'; }
				&:before { content: '· '; }
			}
			.subtitle {
				display: inline-block;
				font-size: 80%;
				&:before { content: '·'; }
			}
		}
	}

	.info-columns {
		flex-direction: column;
		flex-wrap: wrap;
		.info-column {
			padding-right: 0px;
			padding-bottom: 10px;
			&:last-child {
				padding-bottom: 0px;
			}
		}
	}

	.boxart-big {
		max-height: 70px;
	}

	.button-bar {
		flex-direction: column;
		.button {
			font-size: 16px;
			padding: 10px;
		}
	}

}
